.App {
  text-align: center;
}

.nav{
  background: #000000;
  height: 80px;
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
}

#content {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
    list-style: none;
    align-items: center;
    padding: 10px;
    min-height: 8vh;
    justify-content: left;
}

.logo {
  color: white;
  padding-left: 28%;
}

.menu-session {
  display: flex;
  position: absolute;
  align-items: center;
  right: 22px;
  
}

#home-link {
  display: inline;
  padding-right: 15px;
  color: white;
}

#home-link:hover {
  color:yellow
}

#home-link link:active {
  color:yellow
}