body {
    background-color: black;
}

.homepage-cont {
    color: white;
    padding-top: 10%;
    font-size: 18pt;
}

.homepage-card {
    background-color: black;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px gray;
    padding: 20px;
}

#signin-btn {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

